.grid-container {
    display: grid;
    grid-template: 
        'header'
        'gallery'
        'meme'
        'tools'
        'controller'
}

.grid-container * {
    border: 1px solid black;
}

header {
    grid-area: header;
}

.gallery-container {
    grid-area: gallery;
}

/* TO DO - GRID - MINMAX */
.gallery-container ul {list-style-type: none;margin: 0 auto;width: fit-content;}
.gallery-container ul>li {display: inline}
.gallery-container ul li img {
    /* max-width: 100%; */
    max-width: 200px;
    min-width: 200px;
    height: 150px;
    object-fit: cover;
}

.meme-container {
    grid-area: meme;
}

canvas {
    margin: 30px;
}

.tools-container {
    grid-area: tools;
}

.controller-container {
    grid-area: controller;
}

/* @media (min-width: 768px) {
    .grid-container {
        grid-template: 
        'header header header'
        'gallery gallery gallery'
        'meme meme tools'
        'controller controller controller'
    }
} */