html,body,h1,h2,ul{margin:0;padding: 0}

body{
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

ul {list-style-type: none}

input[type=number] {
    font-size: 20px;
    width: 40px;
}

    input[type=text] {
    border: none;
    padding-left: 5px;
    margin-bottom: 20px;
    background-color: transparent;
    font-size:30px;
    width: 90%;
    border-bottom: 2px solid red;
}


/* GRID */

.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px 40%   30% auto 40px;
    grid-template-areas:
    'header'
    'main'
    /* 'tools' */
    'aside'
    'controller'
    'footer';
    grid-row-gap: 10px;
    height: 100vh;
}

body.gallery aside, body.gallery .tools, body.gallery .controller, body.gallery #canvas{
    display: none;
}
body.gallery .grid-container {
    grid-template-columns: 100%;
    /* box-sizing: border-box; */
    /* display: grid; */
    width: 100%;
    grid-template-rows: 80px auto 40px;
    grid-template-areas:
    'header'
    'gallery'
    'footer';
    /* grid-row-gap: 10px; */
    /* height: 100vh; */
}

.grid-container > * {
    color:white;
  }

header {
    grid-area: header; 
    display: flex;
    justify-content: space-evenly;
    background: black;
    border-radius: 0px;
    line-height: 55px;
    box-shadow: inset 0px -5px 0px 0px rgb(218, 81, 47);
}
header .title h1 {font-size:36px;padding: 0 15px;margin:0px;}

header .lang-btn {padding: 0 15px;}

main{
    grid-area: main; 
    /* background: url('../img/back.jpg') repeat; */
    border-radius: 15px;
    margin: 0 5px;
}



aside{grid-area: aside; background-color: rgba(255, 255, 255, 0.8);border-radius: 15px;margin: 0 5px;overflow-y: auto;border-bottom:1px black solid;}
aside h2{display: none}
aside li {display: flex;justify-content: space-evenly;padding: 15px 0;font-size: 16px;color:black;}
aside li span.time{display:none}
.far {cursor: pointer;}
aside li:nth-child(odd):not(.active) {background-color: rgba(2,2,2,0.1)}

aside li:hover ,aside li:nth-child(odd):not(.active):hover {
    background-color: rgba(218, 81, 47,0.2);
}
aside li.active {
    background-color: rgb(218, 81, 47);
}

/* MODAL */
.text-edit-modal .buttons{
    display: flex;
    padding-top:20px;
    justify-content: space-evenly;
}

.text-edit-modal label.arrows{ 
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}
.text-edit-modal label{
    padding: 15px;
    /* width: 90%; */
    color: black;
    /* text-align: center; */
    display: inline;
}

/* .text-edit-modal input:not(:first-child), select { */
    /* margin-left: 20px; */
/* } */



.gallery-container {grid-area: gallery;}

.keywords-container ul {display: flex; flex-wrap: wrap; flex-direction: row;align-items: center;text-align: center;justify-content: center;}
.keywords-container ul li {display: inline;color:black;padding:  10px;}

.gallery-items ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:3px;
    /* list-style-type: none; */
    align-items: center;
    justify-content: center;
}
.gallery-items ul>li {display: inline}
.gallery-items ul li img {
    max-width: 200px;
    min-width: 200px;
    /* width: 40%; */
    height: 150px;
    object-fit: cover;
}

.tools {
    grid-area: tools; 
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin: 0 5px;
}

.tools .btn {padding:25px;font-size:2rem;}

.controller {
    grid-area: controller; 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 15px;
    margin: 0 5px;    
}

a:visited {color: black}
.controller a {
    padding:0 15px;
    /* background-color: rgb(212, 203, 203); */
    border-radius: 15px;
    text-decoration: none;
}

footer{
    grid-area: footer; 
    background: black;
    text-align: center;
    line-height: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

@media (min-width: 786px){
    header .title h1 {font-size: 56px;line-height: 100px;}
    main {display:flex}
    canvas {align-self: center}
    aside {box-shadow: inset 0px 50px 0px 0px rgba(0,0,0,1); border: 1px black solid}
    aside h2{display: block;color:white;font-size:30px;line-height: 30px; padding:10px;margin-bottom: 20px;}
    aside li {font-size:1.2em}
    aside li span.time{display:inherit}
    .grid-container {    
        grid-row-gap: 25px;
        grid-template-columns: 49% 49% auto;
        grid-template-rows: 100px 60% auto 80px;
        grid-template-areas:
        'header header header'
        'aside main main'
        /* 'aside main main' */
        'controller tools tools'
        'footer footer footer';
    }
    body.gallery .grid-container {
        grid-template-columns:100%;
    }
    footer {line-height: 80px;}
}