@import 'helpers.css';
@import 'base.css';
@import 'grid.css';
@import 'header.css';
@import 'gallery.css';
@import 'eraseModal.css';
@import 'main.css';
@import 'mediaQuery.css';

@font-face {
    font-family: 'impact';
    src: url('../fonts/impact.ttf');
}

